<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Duke4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Duke4.Properties.Settings.Duke4ConnectionString" connectionString="Data Source=DBSERVER\DUKE_4_0;Initial Catalog=duke2019;Persist Security Info=True;User ID=duke;Password=administrador"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Duke4.Properties.Settings>
            <setting name="Nombreempresa" serializeAs="String">
                <value />
            </setting>
            <setting name="Direccionempresa" serializeAs="String">
                <value />
            </setting>
            <setting name="Rncempresa" serializeAs="String">
                <value />
            </setting>
            <setting name="Emailempresa" serializeAs="String">
                <value />
            </setting>
            <setting name="Telefonoempresa" serializeAs="String">
                <value />
            </setting>
            <setting name="idsesion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="idusuario" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="usuarioEmail" serializeAs="String">
                <value>dhamarmj@hotmail.com</value>
            </setting>
            <setting name="contraEmail" serializeAs="String">
                <value>123455</value>
            </setting>
        </Duke4.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>